body {
    /* background-color: #73BDE5; */
    background-color: #FFFFFF,
    ;
}

.hi {
    width: 230px;
    height: 110px;
    
}

/* *********************************************** */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF,
    ;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(9, 78, 158);
}

.list-class {
    background-color: #88D3F3;
}

.input-group-url {
    background-color: #EEEEEE;
}

/* *********************************************** */

