
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./static/style.css">
            <link rel="shortcut icon" href="{{ url_for('static', filename='shark_favicon.png') }}">
            <title>Shark API</title>
        </head>
        <body>
            <ul class="list-class">
                <li><a href="./index">Home</a></li>
                <li><a href="./docs">Documentation</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./species">Species</a></li>
            </ul>
            <!-- <h2>Welcome to the shark api</h2>

            <div class="shark">
                <img src="./static/shark_pic.png" class="hi" alt="A friendly shark">
            </div>
            <script src="./static/script.js"></script>
            <div class="wrapper"></div> -->
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <h4>This is the footer</h4>
            </div>
        </body>
    </html>