{% extends 'base.html' %}

{% block content%}

    <h2>Welcome to the Friendly Shark API</h2>
            <div class="shark">
                <img src="./static/shark_pic.png" class="hi" alt="A friendly shark">
            </div>
            <script src="./static/script.js"></script>
            <div class="wrapper"></div>

    <p>Check out my jawsome documentation for more info!
        Give it a try below.
    </p>
    <div class="input-group">
        <div>
            <span class="input-group-url">http://127.0.0.1:5000/</span>
            <!-- <input class="slug" type="text" placeholder="something"> -->
            <form action="/action_page.php" class="slug">
                <label for="species">Choose a shark species:</label>
                <select name="sharks" id="shark_species">
                    <option value="great_white">Great white</option>
                    <option value="hammer_head">Hammer head</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <p>JSON</p>
            <pre>asdfasasdfsdfsadfsdafadsfdfdas
                sdfsdf
                asdfasasdfsdfsadfsdafadsfdfdasasdf
                sdfsdf
                sdfsfdasderer
            </pre>
        </div>
        <div>
            <p>Image</p>
            <img src="{{ url_for('get_image', shark_image=shark_filename) }}" alt="Shark Image" class='index_image'>

            
        </div>        
    </div>

{% endblock %}